$item-height: 26px;
$item-bar-top: calc(50% - 13px);
$selected-font-size: 14px;
$font-size: 14px;
$header-font-size: 22px;
$footer-font-size: 14px;
$header-height: 50px;
$footer-height: 50px;

$item-height-dense: 24px;
$item-bar-top-dense: calc(50% - 12px);
$selected-font-size-dense: 16px;
$font-size-dense: 12px;
$header-font-size-dense: 16px;
$footer-font-size-dense: 12px;
$header-height-dense: 30px;
$footer-height-dense: 30px;

.q-scroller {
  --q-scroller-item-height: #{$item-height};
  --q-scroller-item-bar-top: #{$item-bar-top};
  --q-scroller-selected-font-size: #{$selected-font-size};
  --q-scroller-font-size: #{$font-size};
  --q-scroller-header-font-size: #{$header-font-size};
  --q-scroller-footer-font-size: #{$footer-font-size};
  --q-scroller-header-height: #{$header-height};
  --q-scroller-footer-height: #{$footer-height};
  --q-scroller-item-height-dense: #{$item-height-dense};
  --q-scroller-item-bar-top-dense: #{$item-bar-top-dense};
  --q-scroller-selected-font-size-dense: #{$selected-font-size-dense};
  --q-scroller-font-size-dense: #{$font-size-dense};
  --q-scroller-header-font-size-dense: #{$header-font-size-dense};
  --q-scroller-footer-font-size-dense: #{$footer-font-size-dense};
  --q-scroller-header-height-dense: #{$header-height-dense};
  --q-scroller-footer-height-dense: #{$footer-height-dense};

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: var(--q-scroller-color, inherit);
  background: var(--q-scroller-background, transparent);
  transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  &__body {
    position: relative;
    padding: 0;
    margin: 0;
    color: var(--q-scroller-inner-color, inherit);
    background: var(--q-scroller-inner-background, transparent);
  }

  &__overflow-hidden {
    overflow: hidden;
  }

  &__disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }

  &__border {
    border: 1px solid var(--q-scroller-border-color, #ccc);
  }

  &__header {
    display: flex;
    flex: 10000 1 0%;
    z-index: 1;
    min-height: var(--q-scroller-header-height);
    max-height: var(--q-scroller-header-height);
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: var(--q-scroller-header-font-size);
  }

  &__header--dense {
    display: flex;
    flex: 10000 1 0%;
    z-index: 1;
    min-height: var(--q-scroller-header-height-dense);
    max-height: var(--q-scroller-header-height-dense);
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: var(--q-scroller-header-font-size-dense);
  }

  &__footer {
    display: flex;
    flex: 10000 1 0%;
    z-index: 1;
    min-height: var(--q-scroller-footer-height);
    max-height: var(--q-scroller-footer-height);
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: var(--q-scroller-footer-font-size);
  }

  &__footer--dense {
    display: flex;
    flex: 10000 1 0%;
    z-index: 1;
    min-height: var(--q-scroller-footer-height-dense);
    max-height: var(--q-scroller-footer-height-dense);
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: var(--q-scroller-footer-font-size-dense);
  }

  &__padding {
    padding: 0;
    margin: 0;
    width: 100%;
    pointer-events: none;
  }

  &__horizontal-bar {
    position: relative;
    padding: 0;
    margin: 0;

    &::before {
      content: '';
      top: var(--q-scroller-item-bar-top);
      position: absolute;
      margin: 0 auto;
      height: var(--q-scroller-item-height);
      line-height: var(--q-scroller-item-height);
      width: 90%;
      left: 0;
      right: 0;
      box-sizing: border-box;
      text-align: left;
      border-top: 1px solid var(--q-scroller-bar-color, #ccc);
      border-bottom: 1px solid var(--q-scroller-bar-color, #ccc);
    }
  }

  &__horizontal-bar--dense {
    position: relative;
    padding: 0;
    margin: 0;

    &::before {
      content: '';
      top: var(--q-scroller-item-bar-top-dense);
      position: absolute;
      margin: 0 auto;
      height: var(--q-scroller-item-height-dense);
      line-height: var(--q-scroller-item-height-dense);
      width: 90%;
      left: 0;
      right: 0;
      box-sizing: border-box;
      text-align: left;
      border-top: 1px solid var(--q-scroller-bar-color, #ccc);
      border-bottom: 1px solid var(--q-scroller-bar-color, #ccc);
    }
  }

  &__vertical-bar {
    border-right: 1px solid var(--q-scroller-bar-color, #ccc);
  }

  &__cancel-btn {
    font-size: inherit;
  }

  &__item {
    height: var(--q-scroller-item-height);
    min-height: var(--q-scroller-item-height);
    max-height: var(--q-scroller-item-height);
    padding: 0;
    margin: 0;
    width: 100%;
    opacity: 0.8;
    font-size: var(--q-scroller-font-size);
    line-height: var(--q-scroller-font-size);

    &--selected {
      background-color: transparent;
      border-radius: 4px;
      padding: 0;
      margin: 0;
      opacity: 1;
      font-size: var(--q-scroller-selected-font-size);
      font-weight: 800 !important;
    }

    &--disabled {
      pointer-events: none;
      opacity: 0.3;
      color: var(--q-scroller-disabled-color, inherit);
      font-weight: 300;
      padding: 0;
      margin: 0;
    }
  }

  &__item--dense {
    height: var(--q-scroller-item-height-dense);
    min-height: var(--q-scroller-item-height-dense);
    max-height: var(--q-scroller-item-height-dense);
    padding: 0;
    margin: 0;
    width: 100%;
    opacity: 0.8;
    font-size: var(--q-scroller-font-size-dense);
    line-height: var(--q-scroller-font-size-dense);
  }

  &__item--selected--dense {
    background-color: transparent;
    border-radius: 4px;
    opacity: 1;
    padding: 0;
    margin: 0;
    font-size: var(--q-scroller-selected-font-size-dense);
    font-weight: 800 !important;
  }

  &__item--disabled--dense {
    pointer-events: none;
    opacity: 0.2;
    color: var(--q-scroller-disabled-color, inherit);
    font-weight: 300;
    padding: 0;
    margin: 0;
  }
}
